<div class="container mt-5">
  <div *ngIf="!registerMode" class="text-center">
    <h1>Find Your Matches</h1>
    <p class="lead">
      Come on in to your Matches... ! All you have to do with Signup First
    </p>
    <div class="text-center">
      <button
        class="btn btn-outline-warning btn-log mr-2"
        (click)="registerToggle()"
      >
        Register
      </button>
      <button class="btn btn-outline-danger btn-log">Learn more</button>
    </div>
  </div>
</div>
<div *ngIf="registerMode">
  <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
</div>
