.bgtemplate {
    height: auto;
    width: auto;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px 5px 5px 5px; 
    background-color:rgba(255,165,0, 0.05);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 25px 15px 25px rgba(0, 0, 0, 0.5);

}